<nav class="navbar bg-body-tertiary d-block">
  <div class="container d-block">
    <div class="row">
        <div class="col-md-3">
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-9">
        <ul class="d-flex justify-content-end align-items-center text-end gap-4">
            <li class="nav-item"><a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink="/create-students">Create Student</a></li>
            <li class="nav-item"><a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink="/create-result">Create Result</a></li>
            <li class="nav-item"><a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Student List</a></li>
            <li class="nav-item"><a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink="/reject-students">Reject Student List</a></li>
            <li class="nav-item"><a class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink="/pending-students">Pending Student List</a></li>
        </ul>
        </div>
    </div>
  </div>
</nav>
